/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage

/public/upload/admin_image
/public/upload/customer
/public/upload/employee
/public/upload/product
/public/upload/supplier

/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
